extends page_template.pug
include image_frame_mixin.pug

block content 
  h2 Builds
  
  section#webgl 
    h3 WebGL 

  hr

  section#windows 
    h3 Windows

  hr
  
  section#macosx
    h3 Mac OSX  