extends page_template.pug
include image_frame_mixin.pug

block content 
  h2 Builds
  
  section#webgl 
    h3 WebGL 
    a(href='https://rcoppy.github.io/ggj-2022-game/') github pages

  hr

  section#windows 
    h3 Windows
    include:markdown-it(linkify) ./markdown/windows.md
  hr
  
  section#macosx
    h3 Mac OSX  
    include:markdown-it(linkify) ./markdown/macosx.md